@model PrjctMngmt.Models.Document

@{
    ViewBag.Title = "Delete document";
}

<h2>Delete document</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Document</legend>

    <div class="display-label">Filename</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FileName)
    </div>

    <div class="display-label">Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">Entry date</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EntryDate)
    </div>

    <div class="display-label">Developer</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Developer.FirstName)
        @Html.DisplayFor(model => model.Developer.LastName)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
