@model PrjctMngmt.Models.Conference

@{
    ViewBag.Title = "Conference details";
}

<h2>Conference details</h2>

<fieldset>
    <legend>Conference</legend>

    <div class="display-label">Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">Date</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Date)
    </div>

    <div class="display-label">Duration</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Duration)
    </div>

    <div class="display-label">Description</div>
    <div class="display-field description-field">
        @Html.DisplayTextFor(model => model.Description)
    </div>

    <div class="display-label">Address</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Address)
    </div>

    <div class="display-label">Country</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Country)
    </div>

    <div class="display-label">Contact phone</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ContactPhone)
    </div>

    <div class="display-label">Organizer</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Organizer)
    </div>

    <div class="display-label">Room</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Room)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ConferenceID }) |
    @Html.ActionLink("Delete", "Delete", new { id=Model.ConferenceID })
    <br />
    @Html.ActionLink("See attendants", "SeeAttendants", "ConferenceAttendant", new { id = Model.ConferenceID }, null)
    <br /><br />
    @Html.ActionLink("Back to List", "Index")
</p>
