@model IEnumerable<PrjctMngmt.Models.Message>

@{
    ViewBag.Title = "Messages";
}

<h2>Messages</h2>

<p>
    @Html.ActionLink("Add new message", "Create")
</p>

@foreach (var topic in (List<PrjctMngmt.Models.Topic>)ViewData["Topics"])
{
    <fieldset>
        <legend>@topic.Name</legend>
        <br />
        <table>
            <tr>
                <th>
                    Message
                </th>
                <th>
                    Entry date
                </th>
                <th>
                    Edit date
                </th>
                <th>
                    Developer
                </th>
                <th>
                </th>
            </tr>
            @foreach (var item in Model)
            {
                if (item.TopicID == topic.TopicID)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Data)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EntryDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EditDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Developer.FirstName)
                        @Html.DisplayFor(modelItem => item.Developer.LastName)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.MessageID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.MessageID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.MessageID })
                    </td>
                </tr>
                }
            }
        </table>
    </fieldset>
}