@model IEnumerable<PrjctMngmt.Models.Team>

@{
    ViewBag.Title = "Teams";
}

<script type="text/javascript">
    $(function () {
        // there's the developers and the team
        var $developers = $(".developers"),
            $teams = $(".team");

        // let the developers be draggable
        $("li", $developers).draggable({
            cancel: "a.ui-icon", // clicking an icon won't initiate dragging
            revert: "invalid", // when not dropped, the item will revert back to its initial position
            helper: "clone",
            cursor: "move"
        });

        // let the team be droppable, accepting developers
        $teams.droppable({
            accept: '.developers > *, .team > *', //allow also team to team drops
            hoverClass: "ui-state-highlight",
            drop: function (event, ui) {
                moveToTeam(ui.draggable, $(this));
            }
        });

        // let developers be droppable, accepting developers from teams
        $developers.droppable({
            accept: ".team > li",
            hoverClass: "ui-state-highlight",
            drop: function (event, ui) {
                unbindDeveloper(ui.draggable);
            }
        });

        // add developer to team function
        //var removeMember = "<a href='link/to/unbind/script/when/js/is/off' title='Unbind developer' class='ui-icon ui-icon-remove'>Unbind</a>";
        var removeMember = "<a href='link/to/unbind/script/when/js/is/off' title='Unbind developer' class='devRecycle ButtonLink recycleIcon'></a>";
        function moveToTeam($item, $dropped) {
            $item.fadeOut(function () {
                if (!$item.hasOwnProperty(removeMember)) {
                    $item.find("a.recycleIcon").remove();
                    $item.append(removeMember);
                }
                $item.appendTo($dropped).fadeIn(function () { });
            });
        }

        // remove developer from the team
        function unbindDeveloper($item) {
            $item.fadeOut(function () {
                $item
					.find("a.recycleIcon").remove()
					.end()
					.appendTo($developers)
					.fadeIn();
            });
        }

        // resolve the icons behavior with event delegation
        $("ul.developers > li").click(function (event) {
            var $item = $(this),
				$target = $(event.target);
            if ($target.is("a.recycleIcon")) {
                unbindDeveloper($item);
            }
            return false;
        });
    });
</script>

<script type="text/javascript">
    $(function () {
        $("#devDialog").dialog({
            autoOpen: false, width: 400, modal: true,
            buttons: {
                "Save": function () {
                    $.post("/Developer/CreateDialog",
                        $("#DeveloperForm").serialize(),
                        function () {
                            $("#devDialog").dialog("close");
                            window.location.reload();
                        });
                },
                Cancel: function () { $(this).dialog("close"); }
            }
        });
        $(".addDeveloper").click(function () {
            $("#devDialog").html("")
                .dialog("option", "title", "Create developer")
                .load("/Developer/CreateDialog", function () { $("#devDialog").dialog("open"); });
        });
    });
</script>

<script type="text/javascript">
    $(function () {
        $("#teamDialog").dialog({
            autoOpen: false, width: 400, modal: true,
            buttons: {
                "Save": function () {
                    $.post("/Team/Create",
                        $("#TeamForm").serialize(),
                        function () {
                            $("#teamDialog").dialog("close");
                            window.location.reload();
                        });
                },
                Cancel: function () { $(this).dialog("close"); }
            }
        });
        $(".addTeam").click(function () {
            $("#teamDialog").html("")
                .dialog("option", "title", "Create team")
                .load("/Team/Create", function () { $("#teamDialog").dialog("open"); });
        });
    });
</script>

<script type="text/javascript">
    $(function () {
        $(".devDetails").click(function () {
            var name = $(this).attr("title");
            $("#devDialog").html("")
                .dialog("option", "title", "Developer details")
                .load("/Developer/Details/"/*TODO +name*/, function () { $("#devDialog").dialog("open"); });
        });
        $(".teamDetails").click(function () {
            var name = $(this).attr("title");
            $("#teamDialog").html("")
                .dialog("option", "title", "Team details")
                .load("/Team/Details/" +name/*TODO +name*/, function () { $("#teamDialog").dialog("open"); });
        });
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {

        $("#confirmTeamDelete").dialog({
            modal: true,
            autoOpen: false
        });

        $(".removeTeam").click(function (e) {
            e.preventDefault();
            var id = $(this).attr("title");
            var url = '@Url.Action("Delete", "Team", new { TeamName = "team" })';
            url = url.replace("team", id);

            $("#confirmTeamDelete").dialog('option', 'buttons', {
                "Confirm": function () {
                    $.post(url,
                            null,
                            function (data) {
                                window.location.reload();
                            }
                    );
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            });

            $("#confirmTeamDelete").dialog("open");
        });
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {

        $("#confirmDevDelete").dialog({
            modal: true,
            autoOpen: false
        });

        $(".removeDev").click(function (e) {
            e.preventDefault();
            var id = $(this).attr("title");
            var url = '@Url.Action("Delete", "Developer", new { Name = "name" })';
            url = url.replace("name", id);

            $("#confirmDevDelete").dialog('option', 'buttons', {
                "Confirm": function () {
                    $.post(url,
                            null,
                            function (data) {
                                window.location.reload();
                            }
                    );
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            });

            $("#confirmDevDelete").dialog("open");
        });
    });
</script>

<div class="ui-helper-clearfix">
    <b>Developers</b>
    <ul class="developers">
        @foreach (var dev in (List<string>)ViewData["Developers"])
        {
            <li id="@dev" class="ui-widget-content ui-corner-tr devLi">
                @dev
                <img alt="Remove" title="@dev" class="removeDev ButtonLink removeIcon" src="../../Content/themes/base/images/remove-icon.png" />
                <img alt="Details" title="@dev" class="devDetails ButtonLink detailIcon" src="../../Content/themes/base/images/mag_glass.png" />
            </li>
        }
        <img alt="Create developer" class="addDeveloper ButtonLink" src="../../Content/themes/base/images/plus-sign_small.png" />
    </ul>
    <br />
    <b>Teams</b>
    <br />
    @foreach (var team in Model)
    {
        <div id="@team.TeamName" class="team">
            <div class="teamTitle ui-widget-header">
                @team.TeamName
                <img alt="Remove" title="@team.TeamName" class="removeTeam ButtonLink removeIcon" src="../../Content/themes/base/images/remove-icon.png" />
                <img alt="Details" title="@team.TeamName" class="teamDetails ButtonLink detailIcon" src="../../Content/themes/base/images/mag_glass.png" />
            </div>
        </div>
    }
    <img alt="Create team" class="addTeam ButtonLink" src="../../Content/themes/base/images/plus-sign_small.png" />
</div>
<div id="devDialog"></div>
<div id="teamDialog"></div>
<div id="confirmTeamDelete" title="Confirmation">
	<p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>Are you sure you want to delete this team?</p>
</div>
<div id="confirmDevDelete" title="Confirmation">
	<p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>Are you sure you want to delete this developer?</p>
</div>