@model PrjctMngmt.Models.Task

<script type="text/javascript">
    $(function () {
        $("#category").dialog({
            autoOpen: false, width: 400, modal: true,
            buttons: {
                "Save": function () {
                    $.post("/TaskCategory/Create",
                        $("#TaskCategoryForm").serialize(),
                        function () {
                            $("#category").dialog("close");
                            window.location.reload();
                        });
                },
                Cancel: function () { $(this).dialog("close"); }
            }
        });
        $(".addCategory").click(function () {
            $("#category").html("")
                .dialog("option", "title", "Create category")
                .load("/TaskCategory/Create", function () { $("#category").dialog("open"); });
        });
    });
</script>

<script type="text/javascript">
    $(function () {
        $(".datetimepicker").datetimepicker({
            timeFormat: 'hh:mm:ss',
            dateFormat: 'dd-mm-yy'
        });
    });
</script>

<script type="text/javascript" >
    $(document).ready(function () {
        $("#editor").markItUp(mySettings);
    });
</script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Task</legend>

        <p>* indicates a required field.</p>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name) *
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            Start date
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.StartDate, new { @class = "datetimepicker" })
            @Html.ValidationMessageFor(model => model.StartDate)
        </div>

        <div class="editor-label">
            End date
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.EndDate, new { @class = "datetimepicker" })
            @Html.ValidationMessageFor(model => model.EndDate)
        </div>

        <div class="editor-label">
            Expected work hours
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ExpectedWorkHours)
            @Html.ValidationMessageFor(model => model.ExpectedWorkHours)
        </div>

        <div class="editor-label">
            Time spend
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TimeSpend)
            @Html.ValidationMessageFor(model => model.TimeSpend)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Status)
        </div>
        <div class="editor-field">
            @Html.DropDownList("Status", (IEnumerable<SelectListItem>)ViewData["Status"], "")
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Description, new { @cols = 50, @rows = 10, @id = "editor" })
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <div class="editor-label">
            Task category
        </div>
        <div class="editor-field">
            @Html.DropDownList("Name", (IEnumerable<SelectListItem>) ViewData["TaskCategories"], "")
            <img alt="Create category" class="addCategory ButtonLink Top" src="../../Content/themes/base/images/plus-sign_small.png" />
        </div>

        <div class="editor-label">
            Project
        </div>
        <div class="editor-field">
            @Html.DropDownList("ProjectID", (IEnumerable<SelectListItem>) ViewData["Projects"], "") *
        </div>

        <p>
            <input type="submit" value="Submit" />
        </p>

        <div id="category"></div>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
