@model IEnumerable<PrjctMngmt.Models.Task>

@{
    ViewBag.Title = "Tasks";
}

<script type="text/javascript">
    $(function () {
        $("#tabs").tabs();
    });
</script>

<script type="text/javascript">
    $(function () {
        //TODO: Create AJAX call to for checkbox item change / task status change
    });
</script>

<div id="tabs">
	<ul>
        @foreach (var proj in (List<PrjctMngmt.Models.Project>)ViewData["Projects"])
        {
            <!-- Project tabs -->
		    <li><a href="#@proj.Name">@proj.Name</a></li>
        }
	</ul>
    @foreach (var proj in (List<PrjctMngmt.Models.Project>)ViewData["Projects"])
    {
	    <div id="@proj.Name">
            <!-- List project's tasks here -->
            <p>
                @Html.ActionLink("Create New", "Create")
            </p>
            <table class="taskTable">
                @foreach (var item in Model)
                {
                    if (item.ProjectID == proj.ProjectID)
                    {
                    <tr>
                        <td class="taskTd">
                            @if(item.Status == "Done")
                            {
                                @Html.CheckBox("Status", true)
                            }
                            else
                            {
                                @Html.CheckBox("Status", false)
                            }
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td class="taskTd">
                            @Html.ActionLink("See assignments", "ShowTaskAssignments", "TaskAssignment", new { id = item.TaskID }, null) |
                            @Html.ActionLink("Edit", "Edit", new { id = item.TaskID }) |
                            @Html.ActionLink("Details", "Details", new { id = item.TaskID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.TaskID })
                        </td>
                    </tr>
                    }
                }
            </table>
	    </div>
    }
</div>