@model IEnumerable<PrjctMngmt.Models.Task>

@{
    ViewBag.Title = "Tasks";
}

<h2>Tasks</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<script type="text/javascript">
    $(function () {
        $("#tabs").tabs();
    });
</script>

<script type="text/javascript">
    $(function toggle() {
        //TODO: Create AJAX call to for checkbox item change / task status change
        var id = $(this).closest('td').attr("id");
        $.post("/Task/ToggleTaskStatus?id=" + id, function () { });
    });
</script>

<div id="tabs">
	<ul>
        @foreach (var proj in (List<PrjctMngmt.Models.Project>)ViewData["Projects"])
        {
            <!-- Project tabs -->
		    <li><a href="#@proj.Name">@proj.Name</a></li>
        }
	</ul>
    @foreach (var proj in (List<PrjctMngmt.Models.Project>)ViewData["Projects"])
    {
	    <div id="@proj.Name">
            <!-- List project's tasks here -->
            <table class="taskTable">
                @foreach (var item in Model)
                {
                    if (item.ProjectID == proj.ProjectID)
                    {
                    <tr>
                        <td id="@item.TaskID" class="taskTd">
                            @if(item.Finished == 1)
                            {
                                @Html.CheckBox("Status", true, new { onClick  = "toggle();" })
                            }
                            else
                            {
                                @Html.CheckBox("Status", false, new { onClick = "toggle();" })
                            }
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td class="taskTd">
                            @Html.ActionLink("See assignments", "ShowTaskAssignments", "TaskAssignment", new { id = item.TaskID }, null) |
                            @Html.ActionLink("Edit", "Edit", new { id = item.TaskID }) |
                            @Html.ActionLink("Details", "Details", new { id = item.TaskID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.TaskID })
                        </td>
                    </tr>
                    }
                }
            </table>
	    </div>
    }
</div>