@model PrjctMngmt.Models.ConferenceAttendant

@{
    ViewBag.Title = "Edit conference attendant";
}

<h2>Edit conference attendant</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Conference attendant</legend>

        @Html.HiddenFor(model => model.ID)

        <div class="editor-label">
            @Html.LabelFor(model => model.ConferenceID, "Conference")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ConferenceID", (IEnumerable<SelectListItem>)ViewBag.Conferences, (String)ViewBag.ConferenceName)
            @Html.ValidationMessageFor(model => model.ConferenceID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DeveloperID, "Developer")
        </div>
        <div class="editor-field">
            @Html.DropDownList("DeveloperID", (IEnumerable<SelectListItem>)ViewBag.Developers, (String)ViewBag.DeveloperName)
            @Html.ValidationMessageFor(model => model.DeveloperID)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to conferences", "Index", "Conference")
</div>
