@model IEnumerable<PrjctMngmt.Models.ProjectAssignment>

@{
    ViewBag.Title = "Project assignments";
    var odd = false;
}

@if (Model.Count() > 0)
{
    <div class="datagrid">
        <table>
            <thead>
                <tr>
                    <th>
                        Role
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Project
                    </th>
                    <th>
                        Developer
                    </th>
                    <th>
                    </th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tbody>
                    <tr class="@(odd ? "alt" : "")">
                        <td>
                            @Html.DisplayFor(modelItem => item.RoleName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Project.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Developer.FirstName)
                            @Html.DisplayFor(modelItem => item.Developer.LastName)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.ProjectAssignmentID }) |
                            @Html.ActionLink("Details", "Details", new { id = item.ProjectAssignmentID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.ProjectAssignmentID })
                        </td>
                    </tr>
                    @{ odd = !odd; }
                </tbody>
        }
        </table>
        @{ odd = false; }
    </div>
}
else
{
    <p>
        Project assignments not found.
    </p>
}

<div>
    <br />
    @Html.ActionLink("Back to projects", "Index", "Project")
</div>
