@model PrjctMngmt.Models.ProjectAssignment

<fieldset>
    <legend>Project assignment</legend>

    <div class="display-label">Role</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RoleName)
    </div>

    <div class="display-label">Description</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">Project</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Project.Name)
    </div>

    <div class="display-label">Developer</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Developer.FirstName)
        @Html.DisplayFor(model => model.Developer.LastName)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ProjectAssignmentID })
</p>
<div>
    @Html.ActionLink("Back to projects", "Index", "Project")
</div>
