@model PrjctMngmt.Models.Project

<fieldset>
    <legend>Project</legend>

    <div class="display-label">Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">Start date</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StartDate)
    </div>

    <div class="display-label">End date</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EndDate)
    </div>

    <div class="display-label">Status</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Status)
    </div>

    <div class="display-label">Description</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">Client</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Client.Name)
    </div>

    <div class="display-label">Category</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProjectCategory.Name)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProjectID }) |
    @Html.ActionLink("Delete", "Delete", new { id = Model.ProjectID })
    <br />
    @Html.ActionLink("See assignments", "ShowProjectAssignments", "ProjectAssignment", new { id = Model.ProjectID }, null) |
    @Html.ActionLink("See milestones", "ShowProjectMilestones", "Milestone", new { id = Model.ProjectID }, null)
    <br /><br />
    @Html.ActionLink("Back to List", "Index")
</p>
