@model IEnumerable<PrjctMngmt.Models.Project>

@{
    ViewBag.Title = "Projects";
}

<script type="text/javascript">
    $(function () {
        $("#milestone").dialog({
            autoOpen: false, width: 400, modal: true,
            buttons: {
                "Save": function () {
                    $.post("/Milestone/Create",
                        $("#MilestoneForm").serialize(),
                        function () {
                            $("#milestone").dialog("close");
                            window.location.reload();
                        });
                },
                Cancel: function () { $(this).dialog("close"); }
            }
        });
        $(".addMilestone").click(function () {
            $("#milestone").html("")
                .dialog("option", "title", "Create milestone")
                .load("/Milestone/Create", function () { $("#milestone").dialog("open"); });
        });
    });
</script>

<h2>Projects</h2>

<p>
    @Html.ActionLink("Add new project", "Create")
    <br />
    @Html.ActionLink("Add new milestone", "Create", "Milestone")
</p>
<table>
    <tr>
        <th>
            Name
        </th>
        <!--
        <th>
            Start date
        </th>
        <th>
            End date
        </th>
        <th>
            Due date
        </th>
        -->
        <th>
            Status
        </th>
        <!--
        <th>
            Description
        </th>
        <th>
            Client
        </th>
        <th>
            Category
        </th>
        -->
        <!--
        <th></th>
        -->
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.Name, "Details", new { id = item.ProjectID })
        </td>
        <!--
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DueDate)
        </td>
        -->
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <!--
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Client.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectCategory.Name)
        </td>
        -->
        <!--
        <td>
            @Html.ActionLink("See assignments", "ShowProjectAssignments", "ProjectAssignment", new { id = item.ProjectID }, null) |
            <button class="addMilestone">Create milestone</button> |
            @Html.ActionLink("See milestones", "ShowProjectMilestones", "Milestone", new { id = item.ProjectID }, null) |
            @Html.ActionLink("Edit", "Edit", new { id=item.ProjectID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProjectID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProjectID })
        </td>
        -->
    </tr>
}

</table>
<div id="milestone"></div>