@model IEnumerable<PrjctMngmt.Models.IssueAssignment>

@{
    ViewBag.Title = "Issue assignments";
}

<h2>Issue assignments</h2>

<!--
<p>
    @Html.ActionLink("Add new issue assignment", "Create")
</p>
-->
<table>
    <tr>
        <th>
            Issue
        </th>
        <th>
            Developer
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Issue.Subject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Developer.FirstName)
            @Html.DisplayFor(modelItem => item.Developer.LastName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IssueAssignmentID }) |
            @Html.ActionLink("Details", "Details", new { id=item.IssueAssignmentID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IssueAssignmentID })
        </td>
    </tr>
}

</table>
