@model IEnumerable<PrjctMngmt.Models.Note>

@{
    ViewBag.Title = "Notes";
}

<h2>Notes</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Note
        </th>
        <th>
            Project
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Data)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Project.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.NoteID }) |
            @Html.ActionLink("Details", "Details", new { id=item.NoteID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.NoteID })
        </td>
    </tr>
}

</table>
