@model PrjctMngmt.Models.Milestone

<fieldset>
    <legend>Milestone</legend>

    <div class="display-label">Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

        <div class="display-label">Description</div>
    <div class="display-field description-field">
        @Html.DisplayTextFor(model => model.Description)
    </div>

    <div class="display-label">Due date</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DueDate)
    </div>

    <div class="display-label">Project</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Project.Name)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.MilestoneID }) |
    @Html.ActionLink("Delete", "Delete", new { id=Model.MilestoneID })
    <br /><br />
    @Html.ActionLink("Back to projects", "Index", "Project")
</p>
