@model IEnumerable<PrjctMngmt.Models.Developer>

@{
    ViewBag.Title = "Developers";
}

<h2>Developers</h2>

<p>
    @Html.ActionLink("Add new developer", "Create")
</p>
<table>
    <tr>
        <th>
            Name
        </th>
        <!--
        <th>
            Email
        </th>
        <th>
            Phone number
        </th>
        <th>
            Position
        </th>
        -->
        <th>
            Team
        </th>
        <!--
        <th></th>
        -->
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
        @Html.ActionLink(item.FirstName +" "+ item.LastName, "Details", new { id = item.DeveloperID })
        </td>
        <!--
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Position)
        </td>
        -->
        <td>
            @Html.DisplayFor(modelItem => item.TeamName)
        </td>
        <!--
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DeveloperID }) |
            @Html.ActionLink("Details", "Details", new { id=item.DeveloperID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DeveloperID })
        </td>
        -->
    </tr>
}

</table>
