@model PrjctMngmt.Models.DashboardModel

<fieldset>
    <legend>Overview</legend>
    <fieldset class="dashboard-entity">
        <legend>Tasks</legend>
        <div class="display-label">
            Total tasks:
        </div>
        <div class="display-field">
            @Model.TotalTasks
        </div>
        <div class="display-label">
            Finished tasks:
        </div>
        <div class="display-field">
            @Model.FinishedTasks
        </div>
        <div class="display-label">
            Unfinished tasks:
        </div>
        <div class="display-field">
            @Model.UnfinishedTasks
        </div>
    </fieldset>
    <fieldset class="dashboard-entity">
        <legend>Projects</legend>
        <div class="display-label">
            Total projects:
        </div>
        <div class="display-field">
            @Model.TotalProjects
        </div>
        <div class="display-label">
            Finished projects:
        </div>
        <div class="display-field">
            @Model.FinishedProjects
        </div>
        <div class="display-label">
            Unifinished projects:
        </div>
        <div class="display-field">
            @Model.UnfinishedProjects
        </div>
    </fieldset>
    <fieldset class="dashboard-entity">
        <legend>Developers</legend>
        <div class="display-label">
            Developers:
        </div>
        <div class="display-field">
            @Model.TotalDevelopers
        </div>
    </fieldset>
</fieldset>

<fieldset>
    <legend>Reminders</legend>
    <fieldset class="dashboard-entity">
        <legend>Conferences - same week</legend>
        @foreach (var conf in Model.ConfsDuringWeek)
        {
            var url = @Url.Action("Details", "Conference", new { id = "id" });
            url = url.Replace("id", conf.ConferenceID.ToString());
            
            <a href="@url">@conf.Name</a>
            <br />
            @conf.Date
            <br />
            <br />
        }
    </fieldset>
    <fieldset class="dashboard-entity">
        <legend>Conferences - next week</legend>
        @foreach (var conf in Model.ConfsNextWeek)
        {
            var url = @Url.Action("Details", "Conference", new { id = "id" });
            url = url.Replace("id", conf.ConferenceID.ToString());
            
            <a href="@url">@conf.Name</a>
            <br />
            @conf.Date
            <br />
            <br />
        }
    </fieldset>
    <fieldset class="dashboard-entity">
        <legend>Conferences - same month</legend>
        @foreach (var conf in Model.ConfsDuringMonth)
        {
            var url = @Url.Action("Details", "Conference", new { id = "id" });
            url = url.Replace("id", conf.ConferenceID.ToString());
            
            <a href="@url">@conf.Name</a>
            <br />
            @conf.Date
            <br />
            <br />
        }
    </fieldset>
</fieldset>

<fieldset>
    <legend>Charts</legend>
    <div id="task-pie-chart">
        <img alt="Task pie chart" src='@Url.Action("TaskPieChart")' />
        <img alt="Project pie chart" src='@Url.Action("ProjectPieChart")' />
        <img alt="Issue pie chart" src='@Url.Action("IssuePieChart")' />
    </div>
</fieldset>